.header {
    height: 35px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    font-family: var(--body-font-manrope);
    font-size: var(--smaller-font-size);
    font-weight: bold;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.nav__list .nav__icon {
    font-weight: 900;
}